#veditor {
	background-image: url(https://i.328888.xyz/2023/02/26/EKBvE.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
